@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #9e9898 url(img/bg.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 0;
  background-attachment: fixed;
  padding: 20px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header .logo {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo svg {
  width: 18px;
  transform: rotate(-45deg);
  margin-right: 8px;
}

.menu svg {
  width: 18px;
}

.nav-wrap {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 40%;
  background-color: #030303;
  z-index: 99;
  padding: 20px;
  border-radius: 3px;
  display: none;
}

@media screen and (max-width: 1019px) {
  .desktop-menu, .desktop-btn {
    display: none;
  }
}

.nav-wrap nav ul {
  padding-left: 0;
}

.nav-wrap nav ul li {
  list-style-type: none;
  width: 100%;
}

.nav-wrap nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 10px 10px 0;
  width: 100%;
}

.nav-wrap button {
  margin-top: 20px;
}

.menu button.menu-btn {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

header button, button {
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 10px;
}

.container {
  margin-top: 50px;
  /*background-color: #9e989859;*/
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(3px); 
}

.hero-heading h2 {
  font-size: 50px;
  letter-spacing: 2px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.rule {
  width: 80%;
  max-width: 600px;
  height: 1px;
  background-color: #ffffff73;
  margin-top: 30px;
}

.hero-para {
  width: 80%;
  max-width: 600px;
  margin-top: 30px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}

.button-wrap {
  margin-top: 30px;
}



.partners {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  margin-top: 15%;
}



.spacex {
  width: 40% !important;
}

.nasa {
  width: 50px !important;
  margin-left: 10px;
  margin-right: 15px;
}

.huawei {
  width: 40px !important;
}

@media screen and (min-width: 850px) {
  body {
    padding: 20px 50px;
    background-position: 25% 0;
  }

  .hero-heading h2 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1020px) {
  body {
    padding: 20px 90px;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  /*
  header .logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
  } */
  
  .logo svg {
    width: 18px;
    transform: rotate(-45deg);
    margin-right: 8px;
  }
  
  nav.desktop-menu ul {
    display: flex;
  }
  
  header nav ul li {
    list-style-type: none;
    margin: 0 10px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }

  .menu, .nav-wrap {
    display: none;
  }
}